// VARIABLES used

// Main fonts
$main-font: 'Poppins', sans-serif;
$main-rob: 'Roboto', sans-serif;
$FontAwesome : 'FontAwesome'; 
 
$width-full : 100%;
$height-full : 100%;


//Colors
$white: #fff;
$offWhite: #f9f9f9;
$black: #000;
$blue: #4baaf6;
$brown: #f68b1f;
$grey: #444;
$alt-grey: #a9a9a9;
$primary-color: #da1d23;